services:
  web:
    image: webdevops/php-apache
    container_name: web
    ports:
      - 8080:80
    volumes:
      - ./htdocs:/app
  db:
    image: mysql:8.0
    container_name: mysql
    restart: always
    ports:
      - 127.0.0.1:3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: passwd
      TZ: Asia/Seoul
    command: 
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --default-authentication-plugin=mysql_native_password
    volumes:
      #- ./data:/var/lib/mysql
      - ./init:/docker-entrypoint-initdb.d
